In [2]:
import pandas as pd

In [ ]:
# item_cat = pd.read_csv("data/item_categories-translated.csv")
# item_cat.columns = ["item_category_id", "item_category_name"]
# item_cat.to_csv("data/item_categories-translated.csv", index=False)

In [ ]:
# shops = pd.read_csv("data/shops-translated.csv")
# shops.columns = ["shop_id", "shop_name"]
# shops.to_csv("data/shops-translated.csv", index=False)

In [ ]:
# items = pd.read_csv("data/items-translated.csv")
# items_og = pd.read_csv("data/items.csv")

# items.columns = ["item_id", "item_name"]
# items["item_"]
# items.to_csv("data/items-translated.csv", index=False)

In [5]:
items = pd.read_csv("data/items-translated.csv")
shops = pd.read_csv("data/shops-translated.csv")
item_cat = pd.read_csv("data/item_categories-translated.csv")

item_cat.head()

   item_category_id          item_category_name
0                 0  PC - Headsets / Headphones
1                 1           Accessories - PS2
2                 2           Accessories - PS3
3                 3           Accessories - PS4
4                 4           Accessories - PSP

In [6]:
shops.head()

   shop_id                              shop_name
0        0       Yakutsk Ordzhonikidze, 56 francs
1        1             Yakutsk TC "Central" franc
2        2          Adygea Shopping Center "Mega"
3        3       Balashikha TRK "October-Kinomir"
4        4  Volzhsky shopping center "Volga Mall"

In [7]:
shops[["city", "shop_name"]] = shops.shop_name.str.split(" ", expand=True, n=1)

In [10]:
shops.city.value_counts()

Moscow          13
Yakutsk          4
Tyumen           3
Voronezh         3
Ufa              2
RostovNaDonu     2
Samara           2
SPb              2
Krasnoyarsk      2
Zhukovsky        2
Kazan            2
Novosibirsk      2
Khimki           1
Sergiev          1
Digital          1
Tomsk            1
Kursk            1
Chekhov          1
Balashikha       1
Outbound         1
Kaluga           1
Online           1
Nizhny           1
Mytischi         1
Adygea           1
Colosseum        1
Yaroslavl        1
Surgut           1
Volzhsky         1
Omsk             1
N.Novgorod       1
RostovNaDon      1
Vologda          1
Name: city, dtype: int64

In [ ]:
# Rolling mean data

# Introduce Lag features & then use ACF, PACF to